* {
    margin: 0;
    padding: 0;
}

.Header {
    display: flex;
    background-color: dodgerblue;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    
}

.header-left {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;  
    gap: 10px;  
}

#g {
    width: auto;
    height: 28px;
}

.header-right {
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none; 
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}


.rectangles {
    display: flex;
    flex-direction: column;
}

/* RECTANGLE 1 */

.rec1 {
    display: flex;
    background-color: dodgerblue;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /*flex: 1;*/
}

.rec1-left {
    margin-right: 90px;
    flex-basis: 480px; /* Got this from example */
}

.rec1-word1 {
    font-size: 48px;
    font-weight: bolder;
    text-align: left;
    /*width: 650px;*/
    margin-bottom: 12px;
}

.rec1-word2 {
    /*width: 480px;*/
    margin-bottom: 12px;
}

/* RECTANGLE 2 */

.rec2 {
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.rec2-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 20px;
}

.rec2-boxes {
    /* flex-direction: row; */
    display: flex; 
    justify-content: center; 
    margin: 8px;
}

.inside-box {
    padding: 20px;
    /* flex-basis: 260px; */
}

.pictures {
    width: 208px;
    border: 6px solid #3882F6;
    border-radius: 10px;
    /* margin: 20px; */
    
}

.texta {
    text-align: center;
    width: 220px;
}

/* RECTANGLE 3 */

.rec3 {
    padding: 80px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
}

.rec30 {
    margin-left: 25%;
    margin-right: 25%;
    
}

.rec3-text2, .rec3-text1 {
    font-size: 36px;
    font-style: italic;
    color: 31F2937;
}

.rec3-text2 {
    display: flex;
    /* align-items: flex-end; */
    /* width: 550px; */
    justify-content: flex-end;
    margin-top: 8px;
}

#picture1 {
    width: 400px;
    height: auto;
}

.rec4 {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 90px;
    margin-bottom: 90px;
}

.rec40 {
    padding: 35px 50px 35px 50px;
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    gap: 120px;
    border-radius: 6px;
}

.rec4-left {
    flex-direction: column;
    display: flex;
    color: white;
}

.rec4-left-top {
    font-size: 24px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue; 
    color: white;
    padding: 16px;
}

button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    padding: 5px 20px 5px 20px;
    
}

.rec4-right {
    
}